<!-- <h1>{{title}}</h1>
<ul>
   <li *ngFor="let movie of movies">
      {{movie.title}}-{{movie.direactor}}-{{movie.cast}}
   </li>
</ul> -->

<div class="panel panel-primary">
     <div class="panel-heading">
         {{title}}
     </div>
     <div class="panel-body">
         <div class="table-responsive">
               <div class="table">
                    <thead>
                       <tr>
                           <th>S.NO</th>
                           <th>Title</th>
                           <th>Director</th>
                           <th>Cast</th>
                       </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let movie of movies;let i=index;let o=odd;let e=even;let first=first;let last=last;" [ngClass]="{'bg-danger':first,'bg-success':last}" >
                              <td>{{i+1}}</td>
                              <td>{{movie.title}}</td>
                              <td>{{movie.direactor}}</td>
                              <td>{{movie.cast}}</td>
                         </tr>
                    </tbody>
               </div>
         </div>
     </div>
</div>
